<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bignerdranch.android.pife11">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".UploadThumbnail"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Store"
            android:screenOrientation="portrait"/>
        <activity android:name=".SelectVideoOnProfile.SelectVideoOnProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".TutorialReward"
            android:screenOrientation="portrait"/>
        <activity android:name=".GiveFeedback"
            android:screenOrientation="portrait"/>
        <activity android:name=".Video"
            android:screenOrientation="portrait"/>
        <activity android:name=".PracticeHiFi2"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddNewRoutine"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount"
            android:screenOrientation="portrait"/> <!-- <activity android:name=".peform" /> -->

        <activity android:name=".Profile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Instruments"
            android:screenOrientation="portrait"/>
        <activity android:name=".Genres"
            android:screenOrientation="portrait"/>
        <activity android:name=".Matches.Matches"
            android:screenOrientation="portrait"/>
        <activity android:name=".Chat.Chat"
            android:screenOrientation="portrait"/>

        <activity android:name=".SelectAvatar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChooseRoutineActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".watch_performance"
            android:screenOrientation="portrait"/>


        <activity android:name=".CollabHiFi2"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a9c73533139ab62e421711b95cc12dea63a4de75" />

        <activity android:name=".MyPerform"
            android:screenOrientation="portrait"/>
        <activity android:name=".DeclarePerform"
            android:screenOrientation="portrait"/>
        <activity android:name=".SendPerform"
            android:screenOrientation="portrait"/>
    </application>

</manifest>